:root {
  --primary-text-color: #757575;
  --H-and-header: #212121;
  --logo-and-hover: #2196f3;
  --button-no-active: #f5f4fa;
  --background-color: #fff;
  --background-color-secondary: #2f303a;
  --social-links: #afb1b8;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-feature {
  padding-bottom: 0px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--background-color);
  margin-left: 28px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--H-and-header);
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current::after {
  display: inline-block;
  position: absolute;
  background: var(--logo-and-hover);
  border-radius: 2px;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
}

.btn {
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--logo-and-hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.contact__list {
  display: flex;
  align-items: center;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-navigation__logo {
  color: var(--H-and-header);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-navigation__logo--blue {
  color: var(--logo-and-hover);
}

.header-navigation__link {
  position: relative;
}

.header-navigation__list .header-navigation__link {
  color: var(--H-and-header);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation__list:hover {
  color: var(--logo-and-hover);
}
.header-navigation__list:focus {
  color: var(--logo-and-hover);
}

.header-navigation__link:hover {
  color: var(--logo-and-hover);
}
.header-navigation__link:focus {
  color: var(--logo-and-hover);
}

.header-navigation__list .header-navigation__link.current.header-navigation__link.current {
  color: var(--logo-and-hover);
}

.header-navigation__item_item {
  position: relative;
}

.header-navigation__list {
  display: flex;
}

.header-navigation__list .header-navigation__item + .header-navigation__item {
  margin-left: 50px;
}

.header-contact__list {
  display: flex;
  margin-left: auto;
}

.header-contact__list .header-contact__item + .header-contact__item {
  margin-left: 50px;
}

.header-contact__list .header-navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__list:hover, .header-contact__list:focus {
  color: var(--logo-and-hover);
}

.header-navigation__link:hover, .header-navigation__link:focus {
  color: var(--logo-and-hover);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
}

.header-navigation__logo {
  color: var(--H-and-header);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-navigation__logo--blue {
  color: var(--logo-and-hover);
}

.hero {
  background: var(--background-color-secondary);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--background-color);
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn {
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.section-feature {
  padding-bottom: 0px;
}

.feature-list .feature-list__item + .feature-list__item {
  margin-left: 30px;
}

.feature-list__content {
  display: flex;
  height: 120px;
  background-color: var(--button-no-active);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--H-and-header);
}

.feature-list__text {
  margin-top: 0;
  line-height: 1.71;
}

.about-list {
  display: flex;
}

.about__list .about-list__item + .about-list__item {
  margin-left: 30px;
}

.about-list__content {
  position: relative;
  width: 370px;
}

.about-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-list .team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-section--greybgc {
  background-color: var(--button-no-active);
}

.team-list__item {
  background-color: var(--background-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__header {
  padding-top: 30px;
  margin-bottom: 10px;
  color: var(--H-and-header);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__text {
  margin-top: 0;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.sociallinks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.sociallinks-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--social-links);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallinks-list__icon:hover,
.sociallinks-list__icon:focus {
  background-color: var(--logo-and-hover);
  background-size: 100%;
  border-radius: 50px;
  fill: var(--background-color);
}

.clients-list {
  gap: 30px;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--social-links);
  border: 1px solid var(--social-links);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--logo-and-hover);
  border-color: var(--logo-and-hover);
}

.footer {
  background-color: var(--background-color-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress__content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--background-color);
}

.footer-adress__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.adress-list__item {
  margin-top: 0;
  margin-bottom: 9px;
}

.adress-list__item:last-child {
  margin-bottom: 0px;
}

.adress-list__link {
  line-height: 1.71;
  color: var(--background-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__link:hover,
.adress-list__link:focus {
  color: var(--logo-and-hover);
}

.link__contact {
  padding-top: 0;
  padding-bottom: 9px;
  text-decoration: none;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.google-adress:hover,
.google-adress:focus {
  color: var(--logo-and-hover);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--logo-and-hover);
}

.footer-sociallink__text {
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-sociallink {
  margin-left: 70px;
}

.sociallinks-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.sociallinks-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--background-color);
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 100%;
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallinks-item__link:hover,
.sociallinks-item__link:focus {
  background-color: var(--logo-and-hover);
}

.sociallinks-item {
  margin-right: 10px;
}

.sociallinks-item:last-child {
  margin-right: 0;
}

.form {
  display: flex;
  align-items: flex-end;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.footer-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}

.footer-form__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  padding: 12px 16px;
}

.footer-form__btn {
  display: flex;
  align-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  position: relative;
}

.btn-icon {
  position: absolute;
  right: 28px;
  fill: var(--background-color);
}

.footer-adress {
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.001);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button-icon {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button-icon:hover,
.close-button-icon:focus {
  color: var(--logo-and-hover);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--H-and-header);
  margin-bottom: 12px;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
}

.form-field__icons {
  transform: translateY(-50%);
  position: absolute;
  left: 15px;
  top: 65%;
}

.form-field__input:focus {
  border: 1px solid #2196f3;
}

.form-field__input ~ .form-field__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus ~ .form-field__icons {
  fill: var(--logo-and-hover);
}

.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea-input {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.label-agree {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  justify-content: center;
  margin-bottom: 30px;
}

.label-agree__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-checkin {
  border: 2px solid var(--H-and-header);
  border-radius: 3px;
  fill: var(--background-color);
  margin-right: 9px;
  display: block;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-agree__checkbox:checked + .checkbox-checkin {
  border: none;
  background-color: var(--logo-and-hover);
}

.label-agree__text {
  color: var(--logo-and-hover);
  cursor: pointer;
}

.form-btn {
  background-color: var(--logo-and-hover);
  border-color: transparent;
  padding: 8px 52px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list__btn {
  padding: 6px 25px;
  border-radius: 4px;
  background-color: var(--button-no-active);
  color: var(--H-and-header);
  cursor: pointer;
  text-align: center;
  border-color: transparent;
  line-height: 1.875;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover,
.filter-list__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color);
  background-color: var(--logo-and-hover);
}

.filter-btn__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.portfolio-list .list {
  color: var(--H-and-header);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-list__link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-content__text {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--background-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover .portfolio-content__text {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-text__content {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-text__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--H-and-header);
  margin-bottom: 4px;
}

.portfolio-text__text {
  font-size: 16px;
  line-height: 1.19;
}/*# sourceMappingURL=main.css.map */