:root {
  --primary-text-color: #757575;
  --H-and-header: #212121;
  --logo-and-hover: #2196f3;
  --button-no-active: #f5f4fa;
  --background-color: #fff;
  --background-color-secondary: #2f303a;
  --social-links: #afb1b8;
}
